.event_information {
  margin-left: 10px;
  display: flex;
  display: grid;
}

.event_information .use-ajax {
  @include admin-buttons;
  width: 150px;
  padding-bottom: 5px;
}

.event_information .field {
  padding-bottom: 5px;
}

.event_information .field--item {
  padding-left: 15px;
}

.event_information .field--name-description {
  order: 0;
}

.event_information .field--name-event-date-start {
  order: 1;
}

.event_information .field--name-event-date-finish {
  order: 2;
}

.event_information .field--name-pubparking {
  order: 3;
}

.event_information .field--name-volparking {
  order: 4;
}

.event_information .field--name-location {
  order: 5;
}

.event_information .field--name-shifts {
  order: 6;
}

.event_information .field--name-event-assets {
  order: 7;
}

.event_information .field--name-image {
  display: none;
}

.event_information .field--name-location iframe {
  height: 300px;
  width: 300px;
}

.user-logged-in .region-content .field--name-user-id {
  display: none;
}

.user-logged-in .event-information-edit-form {
  margin: 10px;
}

.user-logged-in .event-information-edit-form .js-form-file {
  height: auto !important;
}

.user-logged-in .asset-list-form {
  margin: 10px;
}

.user-logged-in .asset-list-form #edit-assigned-assets--wrapper {
  margin-top: 10px;
}

.user-logged-in .asset-list-form .form-actions .btn {
  @include admin-buttons;
}

.asset-list-form .control-label {
  &::after {
    content: '\00a0';
  }
}

#edit-filter--wrapper legend {
  margin-top: 10px;
}

#edit-assigned-assets--wrapper legend {
  margin-bottom: 0px !important;
}

#edit-assigned-assets--wrapper #edit-assigned-assets .control-label a {
  position: relative;
  vertical-align: sub;
}

#edit-available-assets--wrapper legend {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

#edit-available-assets--wrapper #edit-available-assets .control-label a {
  position: relative;
  vertical-align: sub;
}

.event-information-delete-form {
  margin: 10px;
}

.asset-list-form .btn {
  margin-top: 10px;
}