.asset_entity {
  margin: 10px;
  display: flex;
  display: grid;
}

.asset_entity .field {
  padding-bottom: 5px;
}

.asset_entity .field--item {
  padding-left: 15px;
}

.asset_entity .field--name-description {
  order: 0;
}

.asset_entity .field--name-price {
  order: 1;
}

.asset_entity .field--name-field-expiry-date {
  order: 2;
}

.asset_entity .field--name-parent-related-assets {
  order: 3;
}

.asset_entity .field--name-child-related-assets {
  order: 3;
}

.asset_entity .field--name-image {
  order: 4;
}

.asset_entity .field--name-image .img-responsive {
  max-width: 250px;
  height: auto;
}

.asset-entity-add-form #edit-image-0-upload {
  height: auto !important;
}

.asset-entity-add-form .field-add-more-submit {
  @include admin-buttons;
}

.asset-entity-edit-form {
  margin: 10px;
}

.asset-entity-edit-form #edit-image-0-upload {
  height: auto !important;
}

.asset-entity-edit-form .field-add-more-submit {
  @include admin-buttons;
}

.clone-asset-form {
  margin: 10px;
}

.clone-asset-form .btn {
  @include admin-buttons;
}

.asset-relationship {
  margin: 10px;
}

.asset-entity-delete-form {
  margin: 10px;
}