.view-event-registration-view .views-row {
  //display: flex;
  //display: grid;
  margin-left: 10px;
}

.view-event-registration-view .views-field {
  padding-bottom: 5px
}

.view-event-registration-view .views-label {
  font-weight: bold;
}

.view-event-registration-view .views-field-description__value .field-content p {
  margin-left: 5px;
}

.view-event-registration-view .views-field-image-target-id .img-responsive {
  margin: 5px;
  display: inline-block;
}
/*
.view-event-registration-view .views-field-description__value {
  order: 0;
}

.view-event-registration-view .views-field-image-target-id {
  order: 1;
}

.view-event-registration-view .views-field-event-date-start {
  order: 2;
}

.view-event-registration-view .views-field-event-date-finish {
  order: 3;
}

.view-event-registration-view .views-field-pubParking {
  order: 4;
}

.view-event-registration-view .views-field-volParking {
  order: 5;
}

.view-event-registration-view .views-field-location-1 {
  order: 6;
}

.view-event-registration-view .views-field-location {
  order: 7;
}

.view-event-registration-view .views-field-shifts-target-id {
  order: 8;
}

.view-event-registration-view .views-field-event-assets-target-id {
  order: 9;
}*/