.views_slideshow_cycle_main .views_slideshow_cycle_slide img {

}

.view-home-page-info .view-content .views-field-field-image-front img {
  width: 175px;
}

.view-home-page-info .view-content .views-row {
  padding: 15px;
  display: flex;
  display: grid;
}

.view-home-page-info .view-content {
  display: flex;
}

.view-home-page-info .view-content .views-row .views-field {
  padding: 5px;
  text-align: center;
}

.view-home-page-info .view-content .views-row .views-field-field-image-front {
  padding-left: 37px;
}

.view-home-page-info .view-content .views-row .views-field-title {
  font-size: 14pt;
  font-weight: bold;
}
