.views_slideshow_cycle_main .views_slideshow_cycle_slide img {

}

.view-home-page-info .view-content .views-field-field-image-front img {
  width: 175px;
}

.view-home-page-info .view-content .views-row {
  padding: 15px;
  display: flex;
  display: grid;
}

.view-home-page-info .view-content {
  display: flex;
}

.view-home-page-info .view-content .views-row .views-field {
  padding: 5px;
  text-align: center;
}

.view-home-page-info .view-content .views-row .views-field-field-image-front .field-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.view-home-page-info .view-content .views-row .views-field-title {
  font-size: 14pt;
  font-weight: bold;
}

.views_slideshow_cycle_slide .views-field-image-target-id .field-content img {
  max-width: 1000px;
}
