/**
 * Member List Styling.
 */

.view-member-list #edit-submit-member-list {
  border-color: #1e5c90;
  background-color: #0071b8;
}

.view-member-list .select-wrapper {
  margin-left: 5px;
  margin-right: 10px;
}