.asset-entity-add-form #edit-status-wrapper {
  display: none;
}

.asset-entity-add-form #edit-revision-log-message-wrapper {
  display: none;
}

.asset-entity-edit-form #edit-status-wrapper {
  display: none;
}

.asset-entity-edit-form #edit-revision-log-message-wrapper {
  display: none;
}

.asset-entity-edit-form .js-form-item-new-revision {
  display: none;
}

.event-information-add-form #edit-status-wrapper {
  display: none;
}

.event-information-add-form #edit-revision-log-message-wrapper {
  display: none;
}

.event-information-edit-form #edit-status-wrapper {
  display: none;
}

.event-information-edit-form #edit-revision-log-message-wrapper {
  display: none;
}

.event-information-edit-form .js-form-item-new-revision {
  display: none;
}

.volunteer-registration-form .form-item-revision-log-message-0-value {
  display: none;
}

.manage-shifts-form #edit-status-wrapper {
  display: none;
}

.manage-shifts-form #edit-revision-log-message-wrapper {
  display: none;
}

.manage-shifts-edit-form .js-form-item-new-revision {
  display: none;
}

.member-profile-entity-edit-form #edit-status-wrapper {
  display: none;
}

.member-profile-entity-edit-form #edit-revision-log-message-wrapper {
  display: none;
}

.member-profile-entity-edit-form .js-form-item-new-revision {
  display: none;
}