/**
 * Authorised View-Event Styling.
 */

.view-event-teaser-view .views-field-description__value {
  word-wrap: break-word;
  display: none;
}

.view-event-teaser-view .views-label {
  font-weight: bold;
}

.view-event-teaser-view .views-field-name {
  font-weight: bold;
  font-size: 14pt;
  word-wrap: break-word;
}

.view-event-teaser-view .views-col {
  padding-top: 5px;
  width: 220px !important;
  margin: 10px;
  border: 1px solid #CCC;
  box-shadow: 1px 1px #D3D3D3;
}

.view-event-teaser-view .views-field {
  padding-left: 10px;
}

.view-event-teaser-view .views-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

// Hide the unnecessary fields
.view-event-teaser-view .views-field-image-target-id {
  display: none;
}

.view-event-teaser-view .views-field-name-1 {
  display: none;
}

.view-event-teaser-view .views-field-pubParking {
  display: none;
}

.view-event-teaser-view .views-field-shifts-value {
  display: none;
}

.view-event-teaser-view .views-field-volParking {
  display: none;
}

// Place areas into grids to display them correctly
.view-event-teaser-view .views-field-event-date-finish {
  display: grid;
}

.view-event-teaser-view .views-field-event-date-start {
  display: grid;
}
