/**
 * View-Asset Styling.
 */

.path-view-assets .button--small {
  @include admin-buttons;
}

.path-view-assets .form--inline {
  display: flex;
  justify-content: center;
}

.path-view-assets .js-form-type-select {
  padding: 10px;
}

.path-view-assets .js-form-type-textfield {
  padding: 10px;
}

.path-view-assets .js-form-wrapper {
  padding: 10px;
}

.path-view-assets #edit-submit-view-assets {
  border-color: #1e5c90;
  background-color: #0071b8;
  font-weight: bold;
}